<section>
    <h4 class="display-4">
        Bem-vind0
    </h4>
    <div class="row">
        <div class="col">
            <article class="card bg-success text-white p-5">
                <h4>Iniciar servidor local</h4>
                <p>
                    É necessário iniciar o servidor local que está configurado na pasta server desse projeto.<br>
                    Digite o comando <span class="font-weight-bold">npm start</span> na pasta do projeto.
                </p>
            </article>
        </div>
        <div class="col">
            <article class="card bg-success text-white p-5">
                <h4>Mongo DB Atlas</h4>
                <p>
                    A base de dados está no serviço de nuvem do Mongo.<br>
                    Foi necessário liberar o acesso para todos os IPs, para qualquer pessoa
                    conseguir acessar o banco de dados.
                </p>
            </article>
        </div>
    </div>
</section>