<main>
  <header>
    <nav class="site-header sticky-top py-1">
      <div class="container d-flex">
        <a class="py-2" href="" routerLink="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
            <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
            <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
            <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
            <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
            <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
          </svg>
        </a>
        <a class="p-2 " href="" routerLink="/">Dashboard</a>
        <a class="p-2 " href="" routerLink="/products">Products</a>
        <a class="p-2 " href="" routerLink="/products/new">New product</a>
      </div>
    </nav>
    <div class="jumbotron">
      <h1 class="display-4">Mangle Mongo DB</h1>
      <p class="lead">
        Este é um projeto de EAD da disciplina de TC II<br>
        Desenvolvido usando uma API NodeJS com Angular JS
      </p>
    </div>
  </header>
  <div class="container" style="min-height: 30vh;">
    <router-outlet></router-outlet>
  </div>
  <footer class="p-3 mt-5">
    <div class="row">
      <div class="col-12">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
          <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
          <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
          <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
          <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
          <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
        </svg>
        <small class="d-block mb-3 text-muted">© 2020</small>
      </div>
      <div class="col">
        <div class="text-muted text-sm pb-3">Desenvolvido por Felipe S:D</div>
      </div>
    </div>
  </footer>

  
</main>